body{
    margin: 0px !important;
}

.makeStyles-storiesDiv-8::-webkit-scrollbar{
    display: none;
}

.MuiAvatar-img{
    border-radius: 50% !important;
}

.MuiBottomNavigation-root{
    height: 62px !important;
}

.userMessage a{
    text-decoration: none !important;
}

.inputField .MuiInput-underline:hover:not(.Mui-disabled):before{
    border: 0
}

.inputField .MuiInput-underline:before{
    border: 0
}

.inputField .MuiInput-underline:after{
    border: 0
}

.inputField .MuiInput-root{
    background-color: #ebebeb;
    padding: 7px;
    border-radius: 15px
}