body{
    margin: 0px !important;
}

.makeStyles-storiesDiv-8::-webkit-scrollbar{
    display: none;
}

.MuiAvatar-img{
    border-radius: 50% !important;
}

.MuiBottomNavigation-root{
    height: 62px !important;
}

.userMessage a{
    text-decoration: none !important;
}