#fintech{
    padding: 15px;
    padding-right: 13px;
    padding-left: 13px;
}

#navbar{
    display: flex;
}

#navbarHeader{
    flex-grow: 1;
}

#navbar-title{
    margin-top: 5px;
    font-size: 15px;
    color: grey;
}

#navbar #avatar{
    display: inline-flex;
    height: 30px;
    width: 30px;
}

#navbar #notification{
    margin-top: -14px;
}

#keepTrack{
    font-size: 14px;
    font-weight: 700;
    margin-top: -5px;
}

#card{
    margin-top: 20px;
    background-color: rgb(65, 6, 65);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(209, 202, 202);
}

#cardHeader{
    display: flex;
    margin-bottom: 40px;
}

#cardHeaderDebit{
    font-size: 13px;
    flex-grow: 1;
    color: white;
}

#cardHeaderBankName{
    font-size: 15px;
    font-weight: 700;
    color: white;
}

#cardNumber{
    font-size: 16px;
    flex-grow: 1;
    color: white;
}

#cardNumberAndChip{
    display: flex;
    margin-bottom: 20px;
    color: white;
}

#cardChip{
    height: 30px;
    width: 30px;
    margin-top: -7px;
}

#cardHolder{
    font-size: 10px;
    padding: 0px;
    margin: 2px;
    color: white;
}

#cardHolderName{
    font-size: 15px;
    color: white;
    padding: 0px;
    margin: 4px;
    margin-left: 0px;
}

#masterCard{
    width: 35px;
    height: 27px;
    margin-top: 3px;
}

#mySubscriptoins{
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
}

#subscriptionTabs{
    margin-top: 10px;
    background-color: rgb(236, 228, 236);
    border-radius: 10px;
    width: 100%;
    height: 45px;
}

#subscriptionTab{
    display: inline-block;
    padding-top: 12px;
    width: 33%;
    height: 33px;
}

.activeTab{
    background-color: blue;
    border-radius: 10px;
}

.activeTabItem{
   color: white !important;
   font-weight: 900 !important;
   font-size: 13px !important;
}

#subscriptionTabLast{
    display: inline-block;
    width: 34%;
    padding-top: 12px;
    height: 33px;
}

#subscriptionTabItem{
    color: grey;
    font-size: 13px;
}

#subscriptions img{
    width: 40px;
    height: 35px;
}

#subscriptions #name{
    font-size: 17px;
    font-weight: 700;
}

#subscriptions #type{
    font-size: 15px;
}

#subscriptions .dueToday{
    font-size: 14px !important;
    color: red !important;
}

#subscriptions #paper{
    width: 40px;
    padding: 10px;
    padding-bottom: 7px;
}

#subscriptions #details{
    padding-top: 9px;
    padding-left: 15px;
}

#subscriptions #price{
    padding-top: 9px;
}

#subscriptions #due{
    font-size: 14px;   
}

#subscriptionPlansItem{
    margin-top: 20px;
    margin-bottom: 15px;
}

#noSubscriptionsImg{
    margin-top: 16px;
    width: 110px !important;
    height: 115px !important;
}

#noSubscriptionsText{
    font-size: 14px;
}

#noSubscriptionsButton{
    margin-top: 30px;
    padding: 10px;
    text-transform: none !important;
}

#bottomNavSpacing .Mui-selected{
    color: blue !important;
    padding: 0px;
}

#dynamicBar{
    display: flex;
}

#dynamicBar .MuiIconButton-root{
    padding: 0px !important;
}

#dynamicBarIcon{
    flex-grow: 0.5;
    display: inline;
}

#dynamicBarText{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 2px;
}

#noNotification{
    margin-top: 100px;
    padding: 30px;
}

#noNotification img{
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 10px;
}

#addCardForm{
    margin-top: 30px;
}

#addCardForm .MuiOutlinedInput-root{
    border-radius: 8px !important;
}

#nameOnCard{
    /* margin-bottom: 5px; */
    color: blue;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 600;
}