@font-face {
    font-family: "Bold";
    src: local("Bold"),
      url(../../fonts/Hiring_Design/bold.ttf) format("truetype");
}
@font-face {
    font-family: "Bold Italic";
    src: local("Bold Italic"),
      url(../../fonts/Hiring_Design/bold-italic.ttf) format("truetype");
}
@font-face {
    font-family: "Normal";
    src: local("Normal"),
      url(../../fonts/Hiring_Design/normal.ttf) format("truetype");
}
@font-face {
    font-family: "Normal Italic";
    src: local("Normal Italic"),
      url(../../fonts/Hiring_Design/bold.ttf) format("truetype");
}
  


body{
    padding-top: 7px;
    padding-bottom: 15px;
}

.main{
    padding: 2px;
}

.navbar{
    display: flex;
}

.icon{
    flex-grow: 1;
}

#findAmazingJobs{
    font-family: 'Bold';
    font-size: 25px;
    padding-top: 2px;
}

#heyEric{
    font-family: 'Normal';
    font-size: 22px;
}

#searchFilterButton{
    background-color: #f5f5f5;
    min-width: 20px;
    height: 54px;
    margin-right: -6px;
}

#searchField{
    padding-bottom: 20px;
    border-radius: 5px;
    display: block;
}

#searchIcon{
    color: rgb(149, 143, 143);
    font-size: 25px;
    margin-bottom: 11px;
}

.search{
    margin-top: 24px;
    margin-bottom: 27px;
}

.jobHeader{
    display: flex;
    margin-bottom: 15px;
}

.jobHeaderTitle{
    flex-grow: 1;
}

#jobHeaderTitle{
    font-family: 'Bold';
    font-size: 22px;
}

#jobHeaderMore{
    font-family: 'Bold';
    font-size: 16px;
    color: #008000;
}

#moreIcon{
    font-size: 20px;
    margin-bottom: -6px;
    margin-left: -3px;
}

#jobPaper{
    height: 240px;
    padding: 10px;
    padding-top: 20px;
    background-color: #c8e6c9;
}

#jobCompany{
    font-size: 17px;
    margin-bottom: 5px;
    font-family: 'Normal'
}

#jobPosition{
    font-size: 22px;
    font-family: "Bold";
    margin-bottom: 5px;
}

#jobLocation{
    font-size: 14px;
    color: rgb(83, 79, 79);
    margin-bottom: 10px;
    font-family: 'Normal'
}

#jobType{
    font-size: 14px;
    /* padding: 2px; */
    border-radius: 7px;
    background-color: rgb(33, 168, 33);
    color: white;
    font-family: "Bold";
    margin-bottom: 12px;
}

#beAnEarlyApplicant{
    font-size: 14px;
    font-family: "Bold";
    margin-bottom: 12px;
}

#beAnEarlyApplicationIcon{
    font-size: 15px;
    margin-bottom: -2px;
    padding-right: 2px;
}

#jobTime{
    font-size: 14px; 
    color: rgb(83, 79, 79);
    font-family: 'Normal'
}